<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <targets async="true">
    <target name="logs" xsi:type="File" fileName="${specialfolder:folder=CommonApplicationData}\MagnaAssetManager\Logs\${shortdate}.txt"
            layout="${longdate} ${message} ${exception:format=tostring,StackTrace}"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="iso-8859-2"/>
    <target name="debug" xsi:type="Debugger"/>
    <!-- <target name="console" xsi:type="ColoredConsole" layout="[${level}] ${longdate} : ${message}">
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Red" />
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
    </target> />-->
  </targets>

  <rules>
    <!-- '<logger name="*" minlevel="Debug" writeTo="file, debug" />-->
    <logger name="*" levels="Error" writeTo="logs" />
    <logger name="*" levels="Info" writeTo="csv" />
    <logger name="*" levels="Trace" writeTo="transactions" />
  </rules>
</nlog>
